/Chantika/StockBarang/nbproject/private/
/Chantika/StockBarang/build/
/Chantika/StockBarang/dist/
/Chantika/MultimediaAudio/nbproject/private/
/Chantika/MultimediaAudio/build/
/Chantika/HTTPGet/nbproject/private/
/Chantika/HTTPGet/build/
/Chantika/HttpPost/nbproject/private/
/Chantika/HttpPost/build/
/Chantika/AplikasiChatting/nbproject/private/
/Chantika/AplikasiChatting/build/
/Chantika/Ujian Praktek 1_CRUD/nbproject/private/
/Chantika/Ujian Praktek 1_CRUD/build/
/Chantika/Ujian Praktek 1_CRUD/dist/
/Chantika/JavaApplet/nbproject/private/
/Chantika/JavaApplet/build/